@model KoreMvc.Models.Customer
@{

}
<div>
    <h1>Customer Details</h1>
    <ul>
        <li><h3>Customer Id:@Model.CustomerId</h3></li>

        <li><h3>Customer Name:@Model.CustomerName</h3></li>

        <li><h3>Gender:@Model.Gender</h3></li>

        <li><h3>City:@Model.City</h3></li>

        <li><h3>Region:@Model.Region</h3></li>

    </ul>
</div>